<h5 class="page-header">List of Teammates</h5>
<div class="table-responsive">
  <table class="table table-hover" id="teammates">
    <thead>
      <tr>
        <th></th>
        <th>Full name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
    <% members.each do | member | %>
      <%= render 'member_item', member: member, editable: editable %>
    <% end %>
    </tbody>
  </table>
</div>