<div class="table-responsive">
  <!-- Table -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Full name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <%= render(team.workers) %>
    </tbody>
  </table>
</div>

