<%= page_header("Forgot password", "Forgot your password?") %>
<div class="row">
  <div class="span6 offset3">
  <%= form_tag(forgot_path) do %>
    <div class="form-group">
      <%= email_field_tag :email, '', :class=>'form-control', :placeholder => 'Write your email address'%>
    </div>
    <%= submit_tag "Restore password", class: "btn btn-large btn-danger" %>
  <% end %>
  </div>
</div>