.box {
  margin-top: 10px;
  margin-bottom: 10px;
}
.box-inner {
  border: 1px solid #DEDEDE;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  box-shadow: 0 0 10px rgba(189,189,189,0.4);
  -webkit-box-shadow: 0 0 10px rgba(189,189,189,0.4);
  -moz-box-shadow: 0 0 10px rgba(189,189,189,0.4);
}

.block-inline {
  display: inline-block !important;
}

table.no-top-border > tbody > tr:first-child > td {
  border-top: 0px !important;
}

#menu-toggle > .glyphicon {
  top: 3px;
  right: 5px;
}

.gravatar.small {
  width: 50px;
}