<div class="col-md-6 col-lg-6">
    <h5 class="page-header">Find and edit issue</h5>
    <%= form_tag(project_goto_issue_path(@project), method: :post, class: 'form-inline') do |f| %>
      <%= label_tag "Issue" %>
      <%= select_tag 'issue_id', {}, {id: 'search-issue-id'} %>
      <%= submit_tag 'Go', class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
