<%= page_header('Editing Project', "#{@project.name}", teams_path) %>

<div class="row">
  <div class="col-md-6 col-lg-6">
    <h5 class="page-header">Project information</h5>
    <%= render 'form' %>
  </div>
</div>