<% provide(:title, 'Dashboard') %>
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to the Tracker App</h1>
    <p>
      <h2>
        This is the simple <bold>time tracker app</bold> which helps <bold>PMs</bold> to track and monitor statuses of projects.
      </h2>
    </p>
    <p class="text-center">
      <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
    </p>
  </div>
</div>
