<div class="footer">
<div class="navbar navbar-fixed-bottom">
  <div class="navbar-header">
    <%= link_to "Mobidev, 2015", "http://mobidev.biz", :class => 'navbar-brand' %>
  </div>
  <% if Rails.env.development? %>
  <ul class="nav navbar-nav navbar-right">
    <li>
    <a href="#" role="button" type="button" class="btn btn-default" data-toggle="popover" data-placement="left" title="Debug information" data-content="<pre><%= strip_tags(debug(params)) %></pre>">Debug</a></li>
  <% end %>
  </ul>
</div>
